{% extends 'main/base2.html' %}

{% block title %}
Django
{% endblock %}

{% block content %}
  <h1>Django</h1>
{% endblock %}

{% block content_2 %}
  <div class="row featurette">
      <div class="col-md-7 order-md-10">
        <h2 class="featurette-heading fw-normal lh-`">Курсы по Django с нуля. </h2>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="https://w7.pngwing.com/pngs/10/113/png-transparent-django-web-development-web-framework-python-software-framework-django-text-trademark-logo.png" width="500px" height="250px">
      </div>
    </div>
{% endblock %}