{% extends 'main/base2.html' %}

{% block title %}
HTML
{% endblock %}

{% block content %}
  <h1>HTML</h1>
{% endblock %}

{% block content_2 %}
  <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Курсы по HTML.</h2>
      </div>
      <div class="col-md-5">
        <img src="https://ksr-ugc.imgix.net/assets/022/795/678/d3b49124adc5b3d794e4b4987f819c6b_original.jpg?ixlib=rb-4.0.2&crop=faces&w=1552&h=873&fit=crop&v=1538779729&auto=format&frame=1&q=92&s=13c81490a405a9727daa427f85d6d474" width="500px" height="250px">
      </div>
    </div>
{% endblock %}